.multiple-select-panel .display span:first-child{
    padding-right: 5px;
}

.multiple-select-panel .display span:last-child{
    padding-left: 5px;
}

.multiple-select-panel .panel{
    position: absolute;
    z-index: 10000;
    background: none;
    padding:0;
}

.multiple-select-panel .panel select{
    padding: 0 10px;
    /*width: 200px;*/
    height: 150px;
}

.multiple-select-panel .panel select:empty{
    display: none;
}