.btnReset{
    font-size: 16pt !important;
    margin-top: 10px;
}
.btnColorSubmit{
    font-size: 16pt !important;
    margin-top: 10px;
    margin-right: 10px;
}

.btnScore{
    font-family: 微软雅黑;
    border-color: #a489da !important;
    font-size: 16pt !important;
    color: #585858 !important;
    margin-top: 10px;
}

.fileName{
    font-size: 20pt;
    font-weight: bolder;
}

.start{
    font-size: 13pt;
    color: #74797f;
    margin-bottom: 20px;
}

.start span{
    color: #f29e21;
    margin-right: 40px;
}

#score{
    margin-right: 40px;
}

.relative{
    text-align: center;
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 16pt;
    font-weight: bolder;
    background-color: #a489da;
    padding: 9px 0;
}

.fuck{
    font-size: 16pt;
    color: #74797f;
}