body{
    font-family: 微软雅黑;
}
nav.navbar{
    padding: 1em;
    /*background-color: #F2F2F2;*/
}

/**
 * 首页部分 start
 */
.index-theme-area {
    padding: 1em;
    text-align: center;
}

.index-theme-area .container-fluid {
    background-color: #0099FF;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    height: 95px;
}

.index-theme-area .special-topic {
    height: 60px;
}

.index-theme-area a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.center-content{
    margin-top:20px;
}