@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-06-10 13:27:30
 * @version $Id$
 */
body{
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	font-family: "微软雅黑";

}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
ul,li{
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
}
.flex-control-nav{
	display: none;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control {
	display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 719;
    margin-bottom: 0px;
}
.form-control {
    display: block;
    width: 659px;
    height: 34px;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.input-group .form-control:first-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
button.form-control-feedback {
    border: medium none;
    background: #abc236;
    pointer-events: auto;
}
.form-control-feedback {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    display: block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    pointer-events: none;
}
.search{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
.container{
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}
.top{
	height: 273px;
	background: #6e529f;
	/*padding-top: 10px;*/
	color: #fff;
}
.top .right{
	height: 52px;
	padding-top: 10px;
	float: right;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
}
.top .right a{
	padding-left: 5px;
}
.top .right img{
	padding-right: 5px;
	float: left;
}
.top .title{
	padding-top: 50px;
	text-align: center;
	clear: both;
}
.top .title h1{
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: normal;
}
.top .title h2{
	margin-bottom: 0;
	margin-top: 0;
	font-size: 14px;
	font-weight: normal;
}
.center{
	margin-top: 30px;
	display: inline-block;
}
.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,.grid9{
	display: block;
	color:  #6e529f;
}
.grid1,.grid2,.grid3,.grid4,.grid7,.grid8{
	height: 173px;
	background: #ddd;
	text-align: center;
	border-right: 4px solid #fff;
	float: left;
}
.grid1{
	width: 171px;	
}
.grid2{
	width: 325px;
}
.grid3{
	width: 287px;
}
.grid4{
	width: 227px;
	border-right: none;
}
.text{	
	font-size: 20px;
	line-height: 173px;
}
.text1{
	font-size: 20px;
	line-height: 84px;
}
.grid5,.grid6,.grid9{
	height: 84px;
	background: #ddd;
	text-align: center;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
}
.grid5{
	width: 245px;
}
.grid6{
	width: 245px;
}
.grid7{
	width: 176px;
	border-top: 4px solid #fff;
}
.grid8{
	width: 326px;
	border-top: 4px solid #fff;
}
.grid9{
	width: 262px;
	border-right: none;
}
.active{
	background: #abc236;
	color: #fff;
}
.info{
	display: inline-block;
	margin-top: 11px;
	color: #757575;
}
.info h3{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0;
}
.info li{
	padding: 5px;
	list-style: disc;
}
.info .ded,.info .con{
	width: 50%;
	display: block;
	overflow: hidden;
	float: left;
}
.info .ded ul{
	margin-left: 20px;
	padding: 0;
}
.info .ded li a{
	color: #757575;
}
.info .ded .topic{
	width: 360px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info .ded .time{
	display: inline-block;
}
.info .con li{
	list-style: none;
	float: left;
	width: 23%;
	text-align: center;
	padding: 5px;
	padding-bottom: 10px;
}
.info .con li img{
	width: 72px;
	height: 72px;
	border-radius: 72px;
}
.info .con li .name{
	color: #757575;
}
.bottom{
	margin-top: 35px;
	height: 64px;
	background: #e1e1e1;
	color: #464646;
	text-align: center;
}
.copy{
	padding-top: 28px;
}
.login{
	background-image: url(../images/login.jpg);
	background-size: 100%;
	background-repeat: no-repeat;

}
/*.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}*/
.label{
	display: inline-block;
	width: 55px;
	height: 35px;
	line-height: 55px;
	font-size: 16px;
	color: #fff;
	padding-right: 10px;
	text-align: right;
	overflow: hidden;
}
.input-text{
	width: 250px;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	font-size: 14px;
	color: #999;
}
.input-submit{
	width: 344px;
	line-height: 40px;
	background: #abc236;
	font-size: 25px;
	color: #fff;
}
.login input{
	border: none;
}
#reset{
	border: none;
	background: none;
	/*width: 43px;
	height: 20px;*/
	font-size: 14px;
	color:#fff;
	border-bottom: 2px solid #fff;
	display: inline-block;
	margin-left:10px;
}
.store{
	float: right;
	margin-top: 30px;
	display: inline-block;
	background: #abc236;
	font-size: 14px;
	padding: 0 2px;
}
/*弹窗*/
.t-left{
	margin-top: 85px;
	width: 207px;
	height: 285px;
	float: left;
}
.t-right{
	width: 601px;
	margin-left: 207px;
	/*float: left;*/
}
.t-right img{
	margin-top: 40px;
}
.subject{
	margin-top: 20px;
}
.course{
	display: inline-block;
	padding-right: 15px;
}
.course label{
	width:70px;
	font-size: 14px;
	line-height: 30px;
	height:30px;
}
.course select{
	width:70px;
	text-align: center;
	line-height: 30px;
	height:30px;
}
.course option{
	height: 30px;
	padding-top: 5px;
}
/*系统消息*/
.info-left{
	width: 262px;
	/*border-bottom: 1px solid #ccc;*/
	padding-bottom: 20px;
	overflow:hidden;
	float: left;
}
.info-left h3{
	height: 39px;
	font-size: 30px;
	color: #6e529f;
	margin-bottom: 0;
	text-align: center;
	overflow:hidden;
}
.info-left h4{
	height: 17px;
	font-size: 14px;
	color: #6e529f;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
}
.p-data{
	height: 271px;
	overflow: hidden;
	margin-top: 26px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	background-image: url(../images/info_bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	
}
.p-data img{
	border-radius: 127px;
	width: 127px;
	height: 127px;
	margin-top: 30px;
}
.p-data span{
	display: block;
	font-size: 20px;
}
.p-data ul{
	width: 100%;
	height: 45px;
	padding: 0;
	margin-top: 20px;
	list-style: none;
}
.p-data  li{
	width:32%;
	font-size: 14px;
	color: #aaa;
	text-align: center;
	float: left;
	border-right: 1px solid #ccc;
}
.info-left li:last-child{
	border-right: none;
}
.info-left li span{
	display: block;
	color: #464646;
	font-size: 18px;
}
.p-center{
	margin-top: 20px;
}
.p-center .title{
	height: 50px;
	padding-left: 15px;
	font-size: 18px;
	color: #6e529f;
	border-bottom: 1px solid #ccc;
}
.p-center .title span{
	display: block;
	font-size: 14px;
	color: #6e529f;
}
.p-center li{
	color: #464646;
	height: 40px;
}
.p-text{
	display: block;
	width: 100%;
	padding-left: 25px;
	padding-top: 6px;
	height: 30px;
	font-size: 16px;
	color: #464646;
}
.p-active{
	background-color: #abc236;
	color: #fff;
}
.info-right{
	width: 727px;
	padding-top: 35px;
	/*margin-left: 297px;*/
	margin-left: 35px;
	color:#464646;
	font-size: 14px;
	float: left;
}
.basic-info{
	display: inline-block;
	width: 707px;
	min-height: 50px;
	padding: 10px;
	margin-top: 35px;
	font-size: 14px;
	border: 1px solid #ccc;
}
.basic-h{
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #ccc;
}
.basic-f{
	display: inline;
	float: left;
}
.basic-e{
	display: inline;
	float: right;
}
.basic-detail{
	width: 561px;
	float: left;
	overflow:hidden;
}
.basic-detail li{
	width: 33.333%;
	float: left;
}
.basic-editor{
	width: 138px;
	/*padding-left: 22px;*/
	/*margin-left: 14px;*/
	float: left;
}
.basic-editor li{
	width: 30%;
	text-align: right;
	padding-left: 4px;
	float: left;
	
}
.basic-editor li a{
	color: #abc236;
}
.myinfo{
	margin-top: 10px;
}
.myinfo .header{
	height: 40px;
	padding-left: 15px;
	background: #ddd;
	font-size: 18px;
	margin-top: 5px;
	padding-top: 11px;
	color: #6E529F;
}
.myinfo .del{
	margin-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	float: right;
	width: 50px;
	background:#abc236; 
	color: #fff;
	font-size: 14px;
	display: inline-block;
}
.mycheck{
	height: 35px;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.mycheck li{
	width: 32%;
	float: left;
}
/*下拉列表*/

 .accordion {
 	margin: 0;
 	padding-left: 15px;
 	padding-right: 15px;
 	background: #FFF;
 	font-size: 14px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	/*padding: 15px 15px 15px 42px;*/
	padding-bottom: 10px;
	padding-top: 10px;
	color: #4D4D4D;
	/*font-size: 14px;
	font-weight: 700;*/
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion .link  span{
	width: 300px;
	padding-left: 10px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.accordion li i {
	position: absolute;
	top: 14px;
	padding-left: 10px;
/*	left: 14px;*/
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-angle-right {
	/*right: 14px;*/
	/*left: auto;*/
	font-size: 16px;
}
.accordion li.open i.fa-angle-right {
		margin-left: 10px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.time1{
	position: absolute;
	right: 14px;
	top: 11px;
}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	padding: 10px;
 	padding-left: 23px;
 	font-size: 14px;
 	border-bottom: 1px solid #ccc;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 14px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }
 .list-nav{
 	position: relative;
	/*width: 818px;*/
	overflow: hidden;
	padding-bottom: 5px;
	border-bottom: 2px solid #6e529f;
	clear: both;
	 padding-right: 43px;
 }
 .list-nav li{
	/*width: 74px;*/
	
	padding-right: 22px;
	overflow: hidden;
	text-align: center;
	float: left;
  }
.list-nav li .n-title{
	display: block;
	/*width: 74px;*/
	height: 30px;
	line-height: 30px;
	color: #464646;
	font-size: 16px;
}
.li-active{
	background: #abc236;
}
.list-nav li .l-active{
	/*width: 34px;
	height: 30px;
	line-height: 30px;*/
  	background: #abc236;
  	color: #fff;
  }
  .load{
  	position: absolute;
  	top: 10px;
  	right: 0;
  	padding: 5px;
  	background: #ccc;
  	color: #fff;
  	font-size: 14px;
  }
  .filter{
  	position: relative;
  	margin-top: 10px;
  }
  .s-filter{
  	position: absolute;
  	padding: 3px;
  	right: 0;
  	top: -5px;
  	border: 1px solid #abc236;
  	padding-bottom: 5px;
  }
   .s-filter i{
   	font-size: 16px;

   }
.item{
	min-height: 20px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 10px;
}
.item dl{
	display: block;
	/*margin-bottom: 30px;*/
	padding-bottom: 15px;
	border-bottom: 1px dashed #ccc;
}

.item dl:last-child{
	border-bottom: none;
}
.item dt{
	display: inline;
	/*float: left;*/
}
.item dd{
/*
	margin-left: 0px;
	position: absolute;
	left: 70px;
	top: 0px;
	*/
	width: 920px;
	margin-left: 80px;
	margin-top: -18px;
	margin-bottom: -10px;
}
.item dd a{
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 10px;
	color: #464646;

}
.i-content{
	display: block;
	height: 35px;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 0 10px;
	background: #f5f5f5;
	position: relative;
}
.i-content li{
	float: left;
	width: 80px;
	text-align: center;
    position: relative;
    top: -6px;
}
.i-content li a{
	display: block;
	width: 74px;
	color: #464646
}
.i-content .page{
	position: absolute;
	right: 5px;
	top: 10px;
}
.i-content i{
	font-size: 16px;
}
.i-detail{
	/*margin-top: 25px;*/
}
.i-detail .left{
	display: block;
	width: 245px;
	float: left;

}
.i-detail .right{
	display: block;
	width: 758px;
	margin-top: 20px;
	padding: 0 15px 0 15px;
	margin-left: 245px;
	border-left: 1px solid #ccc;
}
.i-detail .right dl{

}
.i-detail .right dd{
	position: relative;
	display: block;
	min-height: 90px;
	margin-left: 0;
	margin-top: 15px;
	border-bottom: 1px solid #ccc;
}
.i-detail .right dd h3,
.i-detail .right dd h4,
.i-detail .right dd ul{
	width: 410px;
	height: 20px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.i-detail .right dd h3{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 16px;
	color: #6e529f
}
.i-detail .right dd h4{
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 10px;
}
.i-detail .right li{
	padding-right: 10px;
	float: left;
	text-align: center;
}
.i-detail .right span{
	position: absolute;
	right: 10px;
	top: 0;
	text-align: right;
}
.i-detail .right span h5{
	margin-top: 0;
	font-size: 14px;
	overflow: hidden;
	margin-bottom: 10px;
}
.i-detail .right .fa-star{
	color: #6e529f;
	font-size: 16px;
}
.info-panal{
	display: none;
	width: 260px;
	padding: 10px;
	background: #fff;
	position: relative;
	top: 62px;
	left: 743px;
	/*height: 150px;*/
	border: 1px solid #ccc;
	z-index: 3;
}
.info-panal img{
	width: 64px;
	height: 64px;
	/*float: left;*/
}
.info-panal span{
	width: 190px;
	overflow: hidden;
	position: absolute;
	top:30px;
	/*left: 70px;*/
	display: block;
	margin-left: 80px;
	color: #464646;
}
.info-panal span h5{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
}
.info-panal span ul{
	margin: 0;
}
.info-panal span li{
	width: 32%;
	font-size: 14px;
	text-align: center;
	float: left;
}
.info-panal .upload{
	margin-top: 10px;
	height: 20px;
	background: #ddd;
	color: #000;
	text-align: center;
	padding-top: 7px;
}
.logout{
	position: absolute;
	top: 10px;
	right: 10px;
	
}
.logout a{
	color: #464646;
}
.info-active{
	width: 154px;
	text-align: center;
	background: #fff;
	height: 62px;
}
.info-active img{
	display: none;
}
.info-active span{
	color: #464646;
	text-align: center;
	font-size: 14px;
}
/*分页*/
.pagination{
	margin-top: 20px;
	float: right;
}
.pagination li{
	padding-right: 10px;
	float: left;
	font-size: 14px;
}
.pagination li a{
	color: #464646;
}
.page-active{
	display: inline-block;
	background: #ddd;
	padding:2px;
	color: #fff;
}

.red-point-bg{
	background-image: url(../../images/ICON05-bg.png);
}
